<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Student Performance Indicator</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='ipl-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class='heading_first'>Machine Learning Application On </span><span class="heading_second">Student Performance Indicator</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask</p>
    		</div>
    	</div>

        <!-- Prediction Area -->
        <div class="prediction-area">

            <!-- IPL Banner - 1 -->
            <div class='ipl-banner-left'>

                <div class="slider-frame">
                    <div class="slide-images-up">

                        <!-- Image-1 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img1.jpg') }}" alt="Image_1">
                        </div>
                        <!-- Image-2 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img2.jpg') }}" alt="Image_2">
                        </div>
                        <!-- Image-3 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img3.jpg') }}" alt="Image_3">
                        </div>
                        <!-- Image-4 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img4.jpg') }}" alt="Image_4">
                        </div>
                        <!-- Image-5 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img5.jpg') }}" alt="Image_5">
                        </div>
                        <!-- Image-6 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img6.jpg') }}" alt="Image_6">
                        </div>
                        <!-- Image-7 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img7.jpg') }}" alt="Image_7">
                        </div>
                        <!-- Image-8 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img8.jpg') }}" alt="Image_8">
                        </div>

                    </div>
                </div>

            </div>

            <!-- Prediction Form -->
            <div class='div2'>
                <form action="{{ url_for('predict_datapoint') }}" method="POST">

                    <!-- Gender Categories --> 
                    <select class="form-input align-center" name="gender">
                        <option value="none">--- Select Gender categories ---</option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select><br>

                    <!-- Color Dropdown -->
                    <select class="form-input align-center" name="ethnicity">
                        <option value="none">--- Select Race/Ethnicity Categories ---</option>
                        <option value="group A">group A</option>
                        <option value="group B">group B</option>
                        <option value="group C">group C</option>
                        <option value="group D">group D</option>
                        <option value="group E">group E</option>
                    </select><br>

                    <!-- Parental Level Of Education Dropdown -->
                    <select class="form-input align-center" name="parental_level_of_education">
                        <option value="none">--- Select Parental Level of Education Categories ---</option>
                        <option value="associate's degree">associate's degree</option>
                        <option value="master's degree">master's degree</option>
                        <option value="bachelor's degree">bachelor's degree</option>
                        <option value="some college">some college</option>
                        <option value="some high school">some high school</option>
                        <option value="high school">high school</option>
                    </select><br>

                    <!-- Lunch Dropdown -->
                    <select class="form-input align-center" name="lunch">
                        <option value="none">--- Select Lunch Categories ---</option>
                        <option value="free/reduced">free/reduced</option>
                        <option value="standard">standard</option>
                    </select><br>

                    <!-- Test Preparation Course Dropdown -->
                    <select class="form-input align-center" name="test_preparation_course">
                        <option value="none">--- Select Test Preparation Course Categories ---</option>
                        <option value="none">none</option>
                        <option value="completed">completed</option>
                    </select><br>
                    
                    <input class="form-input" type="text" name="reading_score" placeholder="Enter values btw 0 and 100"><br>
                    <input class="form-input" type="text" name="writing_score" placeholder="Enter values btw 0 and 100"><br>
                                       
			<input type="submit" class="myButton" value="Predict Score">
        	</form>
            </div>

            <!-- IPL Banner - 2 -->
            <div class='ipl-banner-right'>

                <div class="slider-frame">
                    <div class="slide-images-down">

                        <!-- Image-1 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img1.jpg') }}" alt="Image_1">
                        </div>
                        <!-- Image-2 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img2.jpg') }}" alt="Image_2">
                        </div>
                        <!-- Image-3 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img3.jpg') }}" alt="Image_3">
                        </div>
                        <!-- Image-4 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img4.jpg') }}" alt="Image_4">
                        </div>
                        <!-- Image-5 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img5.jpg') }}" alt="Image_5">
                        </div>
                        <!-- Image-6 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img6.jpg') }}" alt="Image_6">
                        </div>
                        <!-- Image-7 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img7.jpg') }}" alt="Image_7">
                        </div>
                        <!-- Image-8 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='img8.jpg') }}" alt="Image_8">
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/acaaattunde2012"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/anujkvyas"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by Bankole Ayoade.</p>
       </div>

    </body>
</html>
